<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuestionario de Aptitudes</title>
    <style>
        label {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Cuestionario de Aptitudes</h1>
    <form action="/submit" method="post">
        <label for="trato">1. ¿Qué tan apto te considerás para tratar y hablar con tacto a las personas?</label><br>
        <input type="radio" id="trato1" name="trato" value="0"> 0 - Incompetente
        <input type="radio" id="trato2" name="trato" value="1"> 1 - Medianamente competente
        <input type="radio" id="trato3" name="trato" value="2"> 2 - Competente
        <input type="radio" id="trato4" name="trato" value="3"> 3 - Muy competente<br><br>

        <label for="jefe">2. ¿Qué tan apto te considerás para ser jefe competente de un grupo o equipo?</label><br>
        <input type="radio" id="jefe1" name="jefe" value="0"> 0 - Incompetente
        <input type="radio" id="jefe2" name="jefe" value="1"> 1 - Medianamente competente
        <input type="radio" id="jefe3" name="jefe" value="2"> 2 - Competente
        <input type="radio" id="jefe4" name="jefe" value="3"> 3 - Muy competente<br><br>

        <label for="expresarte">3. ¿Qué tan apto te considerás para expresarte con facilidad en clase o con tu grupo de amigos?</label><br>
        <input type="radio" id="expresarte1" name="expresarte" value="0"> 0 - Incompetente
        <input type="radio" id="expresarte2" name="expresarte" value="1"> 1 - Medianamente competente
        <input type="radio" id="expresarte3" name="expresarte" value="2"> 2 - Competente
        <input type="radio" id="expresarte4" name="expresarte" value="3"> 3 - Muy competente<br><br>

        <label for="dibujar">4. ¿Qué tan apto te considerás para dibujar casas, objetos, personas, etc.?</label><br>
        <input type="radio" id="dibujar1" name="dibujar" value="0"> 0 - Incompetente
        <input type="radio" id="dibujar2" name="dibujar" value="1"> 1 - Medianamente competente
        <input type="radio" id="dibujar3" name="dibujar" value="2"> 2 - Competente
        <input type="radio" id="dibujar4" name="dibujar" value="3"> 3 - Muy competente<br><br>

        <label for="cantar">5. ¿Qué tan apto te considerás para cantar en un grupo musical o coro?</label><br>
        <input type="radio" id="cantar1" name="cantar" value="0"> 0 - Incompetente
        <input type="radio" id="cantar2" name="cantar" value="1"> 1 - Medianamente competente
        <input type="radio" id="cantar3" name="cantar" value="2"> 2 - Competente
        <input type="radio" id="cantar4" name="cantar" value="3"> 3 - Muy competente<br><br>

        <label for="ordenar">6. ¿Qué tan apto te considerás para llevar todas tus cosas en forma correcta y ordenada?</label><br>
        <input type="radio" id="ordenar1" name="ordenar" value="0"> 0 - Incompetente
        <input type="radio" id="ordenar2" name="ordenar" value="1"> 1 - Medianamente competente
        <input type="radio" id="ordenar3" name="ordenar" value="2"> 2 - Competente
        <input type="radio" id="ordenar4" name="ordenar" value="3"> 3 - Muy competente<br><br>

        <label for="biologia">7. ¿Qué tan apto te considerás para entender principios y experimentos de Biología?</label><br>
        <input type="radio" id="biologia1" name="biologia" value="0"> 0 - Incompetente
        <input type="radio" id="biologia2" name="biologia" value="1"> 1 - Medianamente competente
        <input type="radio" id="biologia3" name="biologia" value="2"> 2 - Competente
        <input type="radio" id="biologia4" name="biologia" value="3"> 3 - Muy competente<br><br>

        <label for="mecanizaciones">8. ¿Qué tan apto te considerás para ejecutar con rapidez y exactitud mecanizaciones aritméticas?</label><br>
        <input type="radio" id="mecanizaciones1" name="mecanizaciones" value="0"> 0 - Incompetente
        <input type="radio" id="mecanizaciones2" name="mecanizaciones" value="1"> 1 - Medianamente competente
        <input type="radio" id="mecanizaciones3" name="mecanizaciones" value="2"> 2 - Competente
        <input type="radio" id="mecanizaciones4" name="mecanizaciones" value="3"> 3 - Muy competente<br><br>

        <label for="objetos_mecanicos">9. ¿Qué tan apto te considerás para armar y componer objetos mecánicos como chapas, timbres, dispositivos electrónicos, etc.?</label><br>
        <input type="radio" id="objetos_mecanicos1" name="objetos_mecanicos" value="0"> 0 - Incompetente
        <input type="radio" id="objetos_mecanicos2" name="objetos_mecanicos" value="1"> 1 - Medianamente competente
        <input type="radio" id="objetos_mecanicos3" name="objetos_mecanicos" value="2"> 2 - Competente
        <input type="radio" id="objetos_mecanicos4" name="objetos_mecanicos" value="3"> 3 - Muy competente<br><br>

        <label for="destreza_manual">10. ¿Qué tan apto te considerás para realizar actividades que requieren de destreza manual?</label><br>
        <input type="radio" id="destreza_manual1" name="destreza_manual" value="0"> 0 - Incompetente
        <input type="radio" id="destreza_manual2" name="destreza_manual" value="1"> 1 - Medianamente competente
        <input type="radio" id="destreza_manual3" name="destreza_manual" value="2"> 2 - Competente
        <input type="radio" id="destreza_manual4" name="destreza_manual" value="3"> 3 - Muy competente<br><br>

        <label for="club">11. ¿Qué tan apto te considerás para ser miembro activo y útil en un club o sociedad?</label><br>
        <input type="radio" id="club1" name="club" value="0"> 0 - Incompetente
        <input type="radio" id="club2" name="club" value="1"> 1 - Medianamente competente
        <input type="radio" id="club3" name="club" value="2"> 2 - Competente
        <input type="radio" id="club4" name="club" value="3"> 3 - Muy competente<br><br>

        <label for="organizar_eventos">12. ¿Qué tan apto te considerás para organizar y dirigir eventos grupales?</label><br>
        <input type="radio" id="organizar_eventos1" name="organizar_eventos" value="0"> 0 - Incompetente
        <input type="radio" id="organizar_eventos2" name="organizar_eventos" value="1"> 1 - Medianamente competente
        <input type="radio" id="organizar_eventos3" name="organizar_eventos" value="2"> 2 - Competente
        <input type="radio" id="organizar_eventos4" name="organizar_eventos" value="3"> 3 - Muy competente<br><br>

        <label for="redactar">13. ¿Qué tan apto te considerás para redactar narraciones y/o artículos periodísticos?</label><br>
        <input type="radio" id="redactar1" name="redactar" value="0"> 0 - Incompetente
        <input type="radio" id="redactar2" name="redactar" value="1"> 1 - Medianamente competente
        <input type="radio" id="redactar3" name="redactar" value="2"> 2 - Competente
        <input type="radio" id="redactar4" name="redactar" value="3"> 3 - Muy competente<br><br>

        <label for="pintar">14. ¿Qué tan apto te considerás para pintar paisajes?</label><br>
        <input type="radio" id="pintar1" name="pintar" value="0"> 0 - Incompetente
        <input type="radio" id="pintar2" name="pintar" value="1"> 1 - Medianamente competente
        <input type="radio" id="pintar3" name="pintar" value="2"> 2 - Competente
        <input type="radio" id="pintar4" name="pintar" value="3"> 3 - Muy competente<br><br>

        <label for="instrumento">15. ¿Qué tan apto te considerás para aprender a tocar un instrumento musical?</label><br>
        <input type="radio" id="instrumento1" name="instrumento" value="0"> 0 - Incompetente
        <input type="radio" id="instrumento2" name="instrumento" value="1"> 1 - Medianamente competente
        <input type="radio" id="instrumento3" name="instrumento" value="2"> 2 - Competente
        <input type="radio" id="instrumento4" name="instrumento" value="3"> 3 - Muy competente<br><br>

        <label for="ordenar_papeles">16. ¿Qué tan apto te considerás para ordenar y clasificar debidamente papeles y documentos importantes?</label><br>
        <input type="radio" id="ordenar_papeles1" name="ordenar_papeles" value="0"> 0 - Incompetente
        <input type="radio" id="ordenar_papeles2" name="ordenar_papeles" value="1"> 1 - Medianamente competente
        <input type="radio" id="ordenar_papeles3" name="ordenar_papeles" value="2"> 2 - Competente
        <input type="radio" id="ordenar_papeles4" name="ordenar_papeles" value="3"> 3 - Muy competente<br><br>

        <label for="fisica">17. ¿Qué tan apto te considerás para entender principios y experimentos de Física?</label><br>
        <input type="radio" id="fisica1" name="fisica" value="0"> 0 - Incompetente
        <input type="radio" id="fisica2" name="fisica" value="1"> 1 - Medianamente competente
        <input type="radio" id="fisica3" name="fisica" value="2"> 2 - Competente
        <input type="radio" id="fisica4" name="fisica" value="3"> 3 - Muy competente<br><br>

        <label for="aritmetica">18. ¿Qué tan apto te considerás para resolver problemas de Aritmética?</label><br>
        <input type="radio" id="aritmetica1" name="aritmetica" value="0"> 0 - Incompetente
        <input type="radio" id="aritmetica2" name="aritmetica" value="1"> 1 - Medianamente competente
        <input type="radio" id="aritmetica3" name="aritmetica" value="2"> 2 - Competente
        <input type="radio" id="aritmetica4" name="aritmetica" value="3"> 3 - Muy competente<br><br>

        <label for="desarmar_objetos">19. ¿Qué tan apto te considerás para desarmar, armar y reparar objetos?</label><br>
        <input type="radio" id="desarmar_objetos1" name="desarmar_objetos" value="0"> 0 - Incompetente
        <input type="radio" id="desarmar_objetos2" name="desarmar_objetos" value="1"> 1 - Medianamente competente
        <input type="radio" id="desarmar_objetos3" name="desarmar_objetos" value="2"> 2 - Competente
        <input type="radio" id="desarmar_objetos4" name="desarmar_objetos" value="3"> 3 - Muy competente<br><br>

        <label for="carpinteria">20. ¿Qué tan apto te considerás para manejar con habilidad herramientas de carpintería?</label><br>
        <input type="radio" id="carpinteria1" name="carpinteria" value="0"> 0 - Incompetente
        <input type="radio" id="carpinteria2" name="carpinteria" value="1"> 1 - Medianamente competente
        <input type="radio" id="carpinteria3" name="carpinteria" value="2"> 2 - Competente
        <input type="radio" id="carpinteria4" name="carpinteria" value="3"> 3 - Muy competente<br><br>

        <label for="colaborar_comunidad">21. ¿Qué tan apto te considerás para colaborar con otros para el bien de la comunidad?</label><br>
        <input type="radio" id="colaborar_comunidad1" name="colaborar_comunidad" value="0"> 0 - Incompetente
        <input type="radio" id="colaborar_comunidad2" name="colaborar_comunidad" value="1"> 1 - Medianamente competente
        <input type="radio" id="colaborar_comunidad3" name="colaborar_comunidad" value="2"> 2 - Competente
        <input type="radio" id="colaborar_comunidad4" name="colaborar_comunidad" value="3"> 3 - Muy competente<br><br>

        <label for="convencer">22. ¿Qué tan apto te considerás para convencer a otros para que hagan lo que vos crees que deben hacer?</label><br>
        <input type="radio" id="convencer1" name="convencer" value="0"> 0 - Incompetente
        <input type="radio" id="convencer2" name="convencer" value="1"> 1 - Medianamente competente
        <input type="radio" id="convencer3" name="convencer" value="2"> 2 - Competente
        <input type="radio" id="convencer4" name="convencer" value="3"> 3 - Muy competente<br><br>

        <label for="componer_versos">23. ¿Qué tan apto te considerás para componer versos, poesías o textos cómicos?</label><br>
        <input type="radio" id="componer_versos1" name="componer_versos" value="0"> 0 - Incompetente
        <input type="radio" id="componer_versos2" name="componer_versos" value="1"> 1 - Medianamente competente
        <input type="radio" id="componer_versos3" name="componer_versos" value="2"> 2 - Competente
        <input type="radio" id="componer_versos4" name="componer_versos" value="3"> 3 - Muy competente<br><br>

        <label for="decorar">24. ¿Qué tan apto te considerás para decorar artísticamente un salón o escenario para un festival?</label><br>
        <input type="radio" id="decorar1" name="decorar" value="0"> 0 - Incompetente
        <input type="radio" id="decorar2" name="decorar" value="1"> 1 - Medianamente competente
        <input type="radio" id="decorar3" name="decorar" value="2"> 2 - Competente
        <input type="radio" id="decorar4" name="decorar" value="3"> 3 - Muy competente<br><br>

        <label for="desentonar">25. ¿Qué tan apto te considerás para distinguir cuando alguien desentona en piezas musicales o canciones?</label><br>
        <input type="radio" id="desentonar1" name="desentonar" value="0"> 0 - Incompetente
        <input type="radio" id="desentonar2" name="desentonar" value="1"> 1 - Medianamente competente
        <input type="radio" id="desentonar3" name="desentonar" value="2"> 2 - Competente
        <input type="radio" id="desentonar4" name="desentonar" value="3"> 3 - Muy competente<br><br>

        <label for="cartas_oficios">26. ¿Qué tan apto te considerás para contestar y redactar correctamente oficios y cartas?</label><br>
        <input type="radio" id="cartas_oficios1" name="cartas_oficios" value="0"> 0 - Incompetente
        <input type="radio" id="cartas_oficios2" name="cartas_oficios" value="1"> 1 - Medianamente competente
        <input type="radio" id="cartas_oficios3" name="cartas_oficios" value="2"> 2 - Competente
        <input type="radio" id="cartas_oficios4" name="cartas_oficios" value="3"> 3 - Muy competente<br><br>

        <label for="quimica">27. ¿Qué tan apto te considerás para entender principios y experimentos de Química?</label><br>
        <input type="radio" id="quimica1" name="quimica" value="0"> 0 - Incompetente
        <input type="radio" id="quimica2" name="quimica" value="1"> 1 - Medianamente competente
        <input type="radio" id="quimica3" name="quimica" value="2"> 2 - Competente
        <input type="radio" id="quimica4" name="quimica" value="3"> 3 - Muy competente<br><br>

        <label for="rompecabezas_numericos">28. ¿Qué tan apto te considerás para resolver y armar rompecabezas numéricos?</label><br>
        <input type="radio" id="rompecabezas_numericos1" name="rompecabezas_numericos" value="0"> 0 - Incompetente
        <input type="radio" id="rompecabezas_numericos2" name="rompecabezas_numericos" value="1"> 1 - Medianamente competente
        <input type="radio" id="rompecabezas_numericos3" name="rompecabezas_numericos" value="2"> 2 - Competente
        <input type="radio" id="rompecabezas_numericos4" name="rompecabezas_numericos" value="3"> 3 - Muy competente<br><br>

        <label for="rompecabezas_madera">29. ¿Qué tan apto te considerás para resolver y armar rompecabezas de madera y/o cartón?</label><br>
        <input type="radio" id="rompecabezas_madera1" name="rompecabezas_madera" value="0"> 0 - Incompetente
        <input type="radio" id="rompecabezas_madera2" name="rompecabezas_madera" value="1"> 1 - Medianamente competente
        <input type="radio" id="rompecabezas_madera3" name="rompecabezas_madera" value="2"> 2 - Competente
        <input type="radio" id="rompecabezas_madera4" name="rompecabezas_madera" value="3"> 3 - Muy competente<br><br>

        <label for="herramientas_mecanicas">30. ¿Qué tan apto te considerás para manejar con facilidad herramientas mecánicas como pinzas, destornilladores, sierras?</label><br>
        <input type="radio" id="herramientas_mecanicas1" name="herramientas_mecanicas" value="0"> 0 - Incompetente
        <input type="radio" id="herramientas_mecanicas2" name="herramientas_mecanicas" value="1"> 1 - Medianamente competente
        <input type="radio" id="herramientas_mecanicas3" name="herramientas_mecanicas" value="2"> 2 - Competente
        <input type="radio" id="herramientas_mecanicas4" name="herramientas_mecanicas" value="3"> 3 - Muy competente<br><br>

        <label for="escuchar_paciencia">31. ¿Qué tan apto te considerás para escuchar a otros con paciencia y comprender sus puntos de vista?</label><br>
        <input type="radio" id="escuchar_paciencia1" name="escuchar_paciencia" value="0"> 0 - Incompetente
        <input type="radio" id="escuchar_paciencia2" name="escuchar_paciencia" value="1"> 1 - Medianamente competente
        <input type="radio" id="escuchar_paciencia3" name="escuchar_paciencia" value="2"> 2 - Competente
        <input type="radio" id="escuchar_paciencia4" name="escuchar_paciencia" value="3"> 3 - Muy competente<br><br>

        <label for="dar_ordenes">32. ¿Qué tan apto te considerás para dar órdenes y directivas a otros con seguridad y naturalidad?</label><br>
        <input type="radio" id="dar_ordenes1" name="dar_ordenes" value="0"> 0 - Incompetente
        <input type="radio" id="dar_ordenes2" name="dar_ordenes" value="1"> 1 - Medianamente competente
        <input type="radio" id="dar_ordenes3" name="dar_ordenes" value="2"> 2 - Competente
        <input type="radio" id="dar_ordenes4" name="dar_ordenes" value="3"> 3 - Muy competente<br><br>

        <label for="escribir_cuentos">33. ¿Qué tan apto te considerás para escribir cuentos, narraciones o historietas?</label><br>
        <input type="radio" id="escribir_cuentos1" name="escribir_cuentos" value="0"> 0 - Incompetente
        <input type="radio" id="escribir_cuentos2" name="escribir_cuentos" value="1"> 1 - Medianamente competente
        <input type="radio" id="escribir_cuentos3" name="escribir_cuentos" value="2"> 2 - Competente
        <input type="radio" id="escribir_cuentos4" name="escribir_cuentos" value="3"> 3 - Muy competente<br><br>

        <label for="modelar_barro">34. ¿Qué tan apto te considerás para modelar con barro, plastilina y/o grabar madera?</label><br>
        <input type="radio" id="modelar_barro1" name="modelar_barro" value="0"> 0 - Incompetente
        <input type="radio" id="modelar_barro2" name="modelar_barro" value="1"> 1 - Medianamente competente
        <input type="radio" id="modelar_barro3" name="modelar_barro" value="2"> 2 - Competente
        <input type="radio" id="modelar_barro4" name="modelar_barro" value="3"> 3 - Muy competente<br><br>

        <label for="entonar_canciones">35. ¿Qué tan apto te considerás para aprender a entonar correctamente canciones?</label><br>
        <input type="radio" id="entonar_canciones1" name="entonar_canciones" value="0"> 0 - Incompetente
        <input type="radio" id="entonar_canciones2" name="entonar_canciones" value="1"> 1 - Medianamente competente
        <input type="radio" id="entonar_canciones3" name="entonar_canciones" value="2"> 2 - Competente
        <input type="radio" id="entonar_canciones4" name="entonar_canciones" value="3"> 3 - Muy competente<br><br>

        <label for="manejar_datos">36. ¿Qué tan apto te considerás para anotar y manejar con exactitud nombres, números y otros datos?</label><br>
        <input type="radio" id="manejar_datos1" name="manejar_datos" value="0"> 0 - Incompetente
        <input type="radio" id="manejar_datos2" name="manejar_datos" value="1"> 1 - Medianamente competente
        <input type="radio" id="manejar_datos3" name="manejar_datos" value="2"> 2 - Competente
        <input type="radio" id="manejar_datos4" name="manejar_datos" value="3"> 3 - Muy competente<br><br>

        <label for="hechos_historicos">37. ¿Qué tan apto te considerás para entender principios y hechos históricos, económicos y/o sociales?</label><br>
        <input type="radio" id="hechos_historicos1" name="hechos_historicos" value="0"> 0 - Incompetente
        <input type="radio" id="hechos_historicos2" name="hechos_historicos" value="1"> 1 - Medianamente competente
        <input type="radio" id="hechos_historicos3" name="hechos_historicos" value="2"> 2 - Competente
        <input type="radio" id="hechos_historicos4" name="hechos_historicos" value="3"> 3 - Muy competente<br><br>

        <label for="algebra">38. ¿Qué tan apto te considerás para resolver problemas de Álgebra?</label><br>
        <input type="radio" id="algebra1" name="algebra" value="0"> 0 - Incompetente
        <input type="radio" id="algebra2" name="algebra" value="1"> 1 - Medianamente competente
        <input type="radio" id="algebra3" name="algebra" value="2"> 2 - Competente
        <input type="radio" id="algebra4" name="algebra" value="3"> 3 - Muy competente<br><br>

        <label for="restaurar_muebles">39. ¿Qué tan apto te considerás para armar y restaurar muebles?</label><br>
        <input type="radio" id="restaurar_muebles1" name="restaurar_muebles" value="0"> 0 - Incompetente
        <input type="radio" id="restaurar_muebles2" name="restaurar_muebles" value="1"> 1 - Medianamente competente
        <input type="radio" id="restaurar_muebles3" name="restaurar_muebles" value="2"> 2 - Competente
        <input type="radio" id="restaurar_muebles4" name="restaurar_muebles" value="3"> 3 - Muy competente<br><br>

        <label for="piezas_pequenas">40. ¿Qué tan apto te considerás para manejar con habilidad pequeñas piezas?</label><br>
        <input type="radio" id="piezas_pequenas1" name="piezas_pequenas" value="0"> 0 - Incompetente
        <input type="radio" id="piezas_pequenas2" name="piezas_pequenas" value="1"> 1 - Medianamente competente
        <input type="radio" id="piezas_pequenas3" name="piezas_pequenas" value="2"> 2 - Competente
        <input type="radio" id="piezas_pequenas4" name="piezas_pequenas" value="3"> 3 - Muy competente<br><br>

        <label for="reuniones_sociales">41. ¿Qué tan apto te considerás para conversar en reuniones y fiestas de modo acertado y natural?</label><br>
        <input type="radio" id="reuniones_sociales1" name="reuniones_sociales" value="0"> 0 - Incompetente
        <input type="radio" id="reuniones_sociales2" name="reuniones_sociales" value="1"> 1 - Medianamente competente
        <input type="radio" id="reuniones_sociales3" name="reuniones_sociales" value="2"> 2 - Competente
        <input type="radio" id="reuniones_sociales4" name="reuniones_sociales" value="3"> 3 - Muy competente<br><br>

        <label for="dirigir_equipo">42. ¿Qué tan apto te considerás para dirigir un equipo en situaciones difíciles o peligrosas?</label><br>
        <input type="radio" id="dirigir_equipo1" name="dirigir_equipo" value="0"> 0 - Incompetente
        <input type="radio" id="dirigir_equipo2" name="dirigir_equipo" value="1"> 1 - Medianamente competente
        <input type="radio" id="dirigir_equipo3" name="dirigir_equipo" value="2"> 2 - Competente
        <input type="radio" id="dirigir_equipo4" name="dirigir_equipo" value="3"> 3 - Muy competente<br><br>

        <label for="literatura">43. ¿Qué tan apto te considerás para saber distinguir y apreciar la buena literatura?</label><br>
        <input type="radio" id="literatura1" name="literatura" value="0"> 0 - Incompetente
        <input type="radio" id="literatura2" name="literatura" value="1"> 1 - Medianamente competente
        <input type="radio" id="literatura3" name="literatura" value="2"> 2 - Competente
        <input type="radio" id="literatura4" name="literatura" value="3"> 3 - Muy competente<br><br>

        <label for="arte">44. ¿Qué tan apto te considerás para saber distinguir y apreciar el buen arte?</label><br>
        <input type="radio" id="arte1" name="arte" value="0"> 0 - Incompetente
        <input type="radio" id="arte2" name="arte" value="1"> 1 - Medianamente competente
        <input type="radio" id="arte3" name="arte" value="2"> 2 - Competente
        <input type="radio" id="arte4" name="arte" value="3"> 3 - Muy competente<br><br>

        <label for="musica">45. ¿Qué tan apto te considerás para saber distinguir y apreciar la buena música?</label><br>
        <input type="radio" id="musica1" name="musica" value="0"> 0 - Incompetente
        <input type="radio" id="musica2" name="musica" value="1"> 1 - Medianamente competente
        <input type="radio" id="musica3" name="musica" value="2"> 2 - Competente
        <input type="radio" id="musica4" name="musica" value="3"> 3 - Muy competente<br><br>

        <label for="mensajes">46. ¿Qué tan apto te considerás para encargarte de recibir, anotar y dar mensajes sin olvidarte de ningún detalle?</label><br>
        <input type="radio" id="mensajes1" name="mensajes" value="0"> 0 - Incompetente
        <input type="radio" id="mensajes2" name="mensajes" value="1"> 1 - Medianamente competente
        <input type="radio" id="mensajes3" name="mensajes" value="2"> 2 - Competente
        <input type="radio" id="mensajes4" name="mensajes" value="3"> 3 - Muy competente<br><br>

        <label for="causas_historicas">47. ¿Qué tan apto te considerás para entender las causas que determinan los acontecimientos históricos?</label><br>
        <input type="radio" id="causas_historicas1" name="causas_historicas" value="0"> 0 - Incompetente
        <input type="radio" id="causas_historicas2" name="causas_historicas" value="1"> 1 - Medianamente competente
        <input type="radio" id="causas_historicas3" name="causas_historicas" value="2"> 2 - Competente
        <input type="radio" id="causas_historicas4" name="causas_historicas" value="3"> 3 - Muy competente<br><br>

        <label for="geografia">48. ¿Qué tan apto te considerás para resolver problemas y actividades de Geografía?</label><br>
        <input type="radio" id="geografia1" name="geografia" value="0"> 0 - Incompetente
        <input type="radio" id="geografia2" name="geografia" value="1"> 1 - Medianamente competente
        <input type="radio" id="geografia3" name="geografia" value="2"> 2 - Competente
        <input type="radio" id="geografia4" name="geografia" value="3"> 3 - Muy competente<br><br>

        <label for="mecanismos_complejos">49. ¿Qué tan apto te considerás para aprender el funcionamiento de mecanismos complejos como motores, relojes, bombas, etc.?</label><br>
        <input type="radio" id="mecanismos_complejos1" name="mecanismos_complejos" value="0"> 0 - Incompetente
        <input type="radio" id="mecanismos_complejos2" name="mecanismos_complejos" value="1"> 1 - Medianamente competente
        <input type="radio" id="mecanismos_complejos3" name="mecanismos_complejos" value="2"> 2 - Competente
        <input type="radio" id="mecanismos_complejos4" name="mecanismos_complejos" value="3"> 3 - Muy competente<br><br>

        <label for="trazos_geom">50. ¿Qué tan apto te considerás para realizar trazos geométricos con regla T y compás?</label><br>
        <input type="radio" id="trazos_geom1" name="trazos_geom" value="0"> 0 - Incompetente
        <input type="radio" id="trazos_geom2" name="trazos_geom" value="1"> 1 - Medianamente competente
        <input type="radio" id="trazos_geom3" name="trazos_geom" value="2"> 2 - Competente
        <input type="radio" id="trazos_geom4" name="trazos_geom" value="3"> 3 - Muy competente<br><br>

        <label for="actuar_desinteres">51. ¿Qué tan apto te considerás para actuar con desinterés y condolencia?</label><br>
        <input type="radio" id="actuar_desinteres1" name="actuar_desinteres" value="0"> 0 - Incompetente
        <input type="radio" id="actuar_desinteres2" name="actuar_desinteres" value="1"> 1 - Medianamente competente
        <input type="radio" id="actuar_desinteres3" name="actuar_desinteres" value="2"> 2 - Competente
        <input type="radio" id="actuar_desinteres4" name="actuar_desinteres" value="3"> 3 - Muy competente<br><br>

        <label for="corregir">52. ¿Qué tan apto te considerás para corregir a los demás sin ofenderlos?</label><br>
        <input type="radio" id="corregir1" name="corregir" value="0"> 0 - Incompetente
        <input type="radio" id="corregir2" name="corregir" value="1"> 1 - Medianamente competente
        <input type="radio" id="corregir3" name="corregir" value="2"> 2 - Competente
        <input type="radio" id="corregir4" name="corregir" value="3"> 3 - Muy competente<br><br>

        <label for="exponer_opiniones">53. ¿Qué tan apto te considerás para exponer juicios y opiniones públicamente sin preocuparte por las críticas?</label><br>
        <input type="radio" id="exponer_opiniones1" name="exponer_opiniones" value="0"> 0 - Incompetente
        <input type="radio" id="exponer_opiniones2" name="exponer_opiniones" value="1"> 1 - Medianamente competente
        <input type="radio" id="exponer_opiniones3" name="exponer_opiniones" value="2"> 2 - Competente
        <input type="radio" id="exponer_opiniones4" name="exponer_opiniones" value="3"> 3 - Muy competente<br><br>

        <label for="libro_arte">54. ¿Qué tan apto te considerás para colaborar en la elaboración de un libro sobre el arte en la Arquitectura?</label><br>
        <input type="radio" id="libro_arte1" name="libro_arte" value="0"> 0 - Incompetente
        <input type="radio" id="libro_arte2" name="libro_arte" value="1"> 1 - Medianamente competente
        <input type="radio" id="libro_arte3" name="libro_arte" value="2"> 2 - Competente
        <input type="radio" id="libro_arte4" name="libro_arte" value="3"> 3 - Muy competente<br><br>

        <label for="grupo_musical">55. ¿Qué tan apto te considerás para dirigir un grupo musical?</label><br>
        <input type="radio" id="grupo_musical1" name="grupo_musical" value="0"> 0 - Incompetente
        <input type="radio" id="grupo_musical2" name="grupo_musical" value="1"> 1 - Medianamente competente
        <input type="radio" id="grupo_musical3" name="grupo_musical" value="2"> 2 - Competente
        <input type="radio" id="grupo_musical4" name="grupo_musical" value="3"> 3 - Muy competente<br><br>

        <label for="desarrollo_metodos">56. ¿Qué tan apto te considerás para colaborar con el desarrollo de métodos más eficientes de trabajo o estudio?</label><br>
        <input type="radio" id="desarrollo_metodos1" name="desarrollo_metodos" value="0"> 0 - Incompetente
        <input type="radio" id="desarrollo_metodos2" name="desarrollo_metodos" value="1"> 1 - Medianamente competente
        <input type="radio" id="desarrollo_metodos3" name="desarrollo_metodos" value="2"> 2 - Competente
        <input type="radio" id="desarrollo_metodos4" name="desarrollo_metodos" value="3"> 3 - Muy competente<br><br>

        <label for="investigaciones_cientificas">57. ¿Qué tan apto te considerás para realizar investigaciones científicas con la finalidad de buscar la verdad?</label><br>
        <input type="radio" id="investigaciones_cientificas1" name="investigaciones_cientificas" value="0"> 0 - Incompetente
        <input type="radio" id="investigaciones_cientificas2" name="investigaciones_cientificas" value="1"> 1 - Medianamente competente
        <input type="radio" id="investigaciones_cientificas3" name="investigaciones_cientificas" value="2"> 2 - Competente
        <input type="radio" id="investigaciones_cientificas4" name="investigaciones_cientificas" value="3"> 3 - Muy competente<br><br>

        <label for="enseñar_matematicas">58. ¿Qué tan apto te considerás para enseñar a resolver problemas matemáticos?</label><br>
        <input type="radio" id="enseñar_matematicas1" name="enseñar_matematicas" value="0"> 0 - Incompetente
        <input type="radio" id="enseñar_matematicas2" name="enseñar_matematicas" value="1"> 1 - Medianamente competente
        <input type="radio" id="enseñar_matematicas3" name="enseñar_matematicas" value="2"> 2 - Competente
        <input type="radio" id="enseñar_matematicas4" name="enseñar_matematicas" value="3"> 3 - Muy competente<br><br>

        <label for="inducir_gente">59. ¿Qué tan apto te considerás para inducir a la gente a obtener resultados prácticos?</label><br>
        <input type="radio" id="inducir_gente1" name="inducir_gente" value="0"> 0 - Incompetente
        <input type="radio" id="inducir_gente2" name="inducir_gente" value="1"> 1 - Medianamente competente
        <input type="radio" id="inducir_gente3" name="inducir_gente" value="2"> 2 - Competente
        <input type="radio" id="inducir_gente4" name="inducir_gente" value="3"> 3 - Muy competente<br><br>

        <label for="modalismo">60. ¿Qué tan apto te considerás para participar en un concurso de modalismo (coches, aviones, barcos, etc.)?</label><br>
        <input type="radio" id="modalismo1" name="modalismo" value="0"> 0 - Incompetente
        <input type="radio" id="modalismo2" name="modalismo" value="1"> 1 - Medianamente competente
        <input type="radio" id="modalismo3" name="modalismo" value="2"> 2 - Competente
        <input type="radio" id="modalismo4" name="modalismo" value="3"> 3 - Muy competente<br><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>
