<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuestionario de Aptitudes</title>
    <style>
        label {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Cuestionario de Aptitudes</h1>
    <form #aptitudesForm="ngForm" (ngSubmit)="onSubmit()">

        <label for="SS">1. ¿Qué tan apto te considerás para tratar y hablar con tacto a las personas?</label><br>
        <input type="radio" id="trato1" name="SS" value="0"> 0 - Incompetente
        <input type="radio" id="trato2" name="SS" value="1"> 1 - Medianamente competente
        <input type="radio" id="trato3" name="SS" value="2"> 2 - Competente
        <input type="radio" id="trato4" name="SS" value="3"> 3 - Muy competente<br><br>

        <label for="EP">2. ¿Qué tan apto te considerás para ser jefe competente de un grupo o equipo?</label><br>
        <input type="radio" id="jefe1" name="EP" value="0"> 0 - Incompetente
        <input type="radio" id="jefe2" name="EP" value="1"> 1 - Medianamente competente
        <input type="radio" id="jefe3" name="EP" value="2"> 2 - Competente
        <input type="radio" id="jefe4" name="EP" value="3"> 3 - Muy competente<br><br>

        <label for="V">3. ¿Qué tan apto te considerás para expresarte con facilidad en clase o con tu grupo de amigos?</label><br>
        <input type="radio" id="expresarte1" name="V" value="0"> 0 - Incompetente
        <input type="radio" id="expresarte2" name="V" value="1"> 1 - Medianamente competente
        <input type="radio" id="expresarte3" name="V" value="2"> 2 - Competente
        <input type="radio" id="expresarte4" name="V" value="3"> 3 - Muy competente<br><br>

        <label for="AP">4. ¿Qué tan apto te considerás para dibujar casas, objetos, personas, etc.?</label><br>
        <input type="radio" id="dibujar1" name="AP" value="0"> 0 - Incompetente
        <input type="radio" id="dibujar2" name="AP" value="1"> 1 - Medianamente competente
        <input type="radio" id="dibujar3" name="AP" value="2"> 2 - Competente
        <input type="radio" id="dibujar4" name="AP" value="3"> 3 - Muy competente<br><br>

        <label for="MS">5. ¿Qué tan apto te considerás para cantar en un grupo musical o coro?</label><br>
        <input type="radio" id="cantar1" name="MS" value="0"> 0 - Incompetente
        <input type="radio" id="cantar2" name="MS" value="1"> 1 - Medianamente competente
        <input type="radio" id="cantar3" name="MS" value="2"> 2 - Competente
        <input type="radio" id="cantar4" name="MS" value="3"> 3 - Muy competente<br><br>

        <label for="OG">6. ¿Qué tan apto te considerás para llevar todas tus cosas en forma correcta y ordenada?</label><br>
        <input type="radio" id="ordenar1" name="OG" value="0"> 0 - Incompetente
        <input type="radio" id="ordenar2" name="OG" value="1"> 1 - Medianamente competente
        <input type="radio" id="ordenar3" name="OG" value="2"> 2 - Competente
        <input type="radio" id="ordenar4" name="OG" value="3"> 3 - Muy competente<br><br>

        <label for="CT">7. ¿Qué tan apto te considerás para entender principios y experimentos de Biología?</label><br>
        <input type="radio" id="biologia1" name="CT" value="0"> 0 - Incompetente
        <input type="radio" id="biologia2" name="CT" value="1"> 1 - Medianamente competente
        <input type="radio" id="biologia3" name="CT" value="2"> 2 - Competente
        <input type="radio" id="biologia4" name="CT" value="3"> 3 - Muy competente<br><br>

        <label for="CI">8. ¿Qué tan apto te considerás para ejecutar con rapidez y exactitud mecanizaciones aritméticas?</label><br>
        <input type="radio" id="mecanizaciones1" name="CI" value="0"> 0 - Incompetente
        <input type="radio" id="mecanizaciones2" name="CI" value="1"> 1 - Medianamente competente
        <input type="radio" id="mecanizaciones3" name="CI" value="2"> 2 - Competente
        <input type="radio" id="mecanizaciones4" name="CI" value="3"> 3 - Muy competente<br><br>

        <label for="MC">9. ¿Qué tan apto te considerás para armar y componer objetos mecánicos como chapas, timbres, dispositivos electrónicos, etc.?</label><br>
        <input type="radio" id="objetos_mecanicos1" name="MC" value="0"> 0 - Incompetente
        <input type="radio" id="objetos_mecanicos2" name="MC" value="1"> 1 - Medianamente competente
        <input type="radio" id="objetos_mecanicos3" name="MC" value="2"> 2 - Competente
        <input type="radio" id="objetos_mecanicos4" name="MC" value="3"> 3 - Muy competente<br><br>

        <label for="DT">10. ¿Qué tan apto te considerás para realizar actividades que requieren de destreza manual?</label><br>
        <input type="radio" id="destreza_manual1" name="DT" value="0"> 0 - Incompetente
        <input type="radio" id="destreza_manual2" name="DT" value="1"> 1 - Medianamente competente
        <input type="radio" id="destreza_manual3" name="DT" value="2"> 2 - Competente
        <input type="radio" id="destreza_manual4" name="DT" value="3"> 3 - Muy competente<br><br>

        <label for="SS">11. ¿Qué tan apto te considerás para ser miembro activo y útil en un club o sociedad?</label><br>
        <input type="radio" id="club1" name="SS1" value="0"> 0 - Incompetente
        <input type="radio" id="club2" name="SS1" value="1"> 1 - Medianamente competente
        <input type="radio" id="club3" name="SS1" value="2"> 2 - Competente
        <input type="radio" id="club4" name="SS1" value="3"> 3 - Muy competente<br><br>

        <label for="EP">12. ¿Qué tan apto te considerás para organizar y dirigir eventos grupales?</label><br>
        <input type="radio" id="organizar_eventos1" name="EP1" value="0"> 0 - Incompetente
        <input type="radio" id="organizar_eventos2" name="EP1" value="1"> 1 - Medianamente competente
        <input type="radio" id="organizar_eventos3" name="EP1" value="2"> 2 - Competente
        <input type="radio" id="organizar_eventos4" name="EP1" value="3"> 3 - Muy competente<br><br>

        <label for="V">13. ¿Qué tan apto te considerás para redactar narraciones y/o artículos periodísticos?</label><br>
        <input type="radio" id="redactar1" name="V1" value="0"> 0 - Incompetente
        <input type="radio" id="redactar2" name="V1" value="1"> 1 - Medianamente competente
        <input type="radio" id="redactar3" name="V1" value="2"> 2 - Competente
        <input type="radio" id="redactar4" name="V1" value="3"> 3 - Muy competente<br><br>

        <label for="AP">14. ¿Qué tan apto te considerás para pintar paisajes?</label><br>
        <input type="radio" id="pintar1" name="AP1" value="0"> 0 - Incompetente
        <input type="radio" id="pintar2" name="AP1" value="1"> 1 - Medianamente competente
        <input type="radio" id="pintar3" name="AP1" value="2"> 2 - Competente
        <input type="radio" id="pintar4" name="AP1" value="3"> 3 - Muy competente<br><br>

        <label for="MS">15. ¿Qué tan apto te considerás para aprender a tocar un instrumento musical?</label><br>
        <input type="radio" id="instrumento1" name="MS1" value="0"> 0 - Incompetente
        <input type="radio" id="instrumento2" name="MS1" value="1"> 1 - Medianamente competente
        <input type="radio" id="instrumento3" name="MS1" value="2"> 2 - Competente
        <input type="radio" id="instrumento4" name="MS1" value="3"> 3 - Muy competente<br><br>

        <label for="OG">16. ¿Qué tan apto te considerás para ordenar y clasificar debidamente papeles y documentos importantes?</label><br>
        <input type="radio" id="ordenar_papeles1" name="OG1" value="0"> 0 - Incompetente
        <input type="radio" id="ordenar_papeles2" name="OG1" value="1"> 1 - Medianamente competente
        <input type="radio" id="ordenar_papeles3" name="OG1" value="2"> 2 - Competente
        <input type="radio" id="ordenar_papeles4" name="OG1" value="3"> 3 - Muy competente<br><br>

        <label for="CT">17. ¿Qué tan apto te considerás para entender principios y experimentos de Física?</label><br>
        <input type="radio" id="fisica1" name="CT1" value="0"> 0 - Incompetente
        <input type="radio" id="fisica2" name="CT1" value="1"> 1 - Medianamente competente
        <input type="radio" id="fisica3" name="CT1" value="2"> 2 - Competente
        <input type="radio" id="fisica4" name="CT1" value="3"> 3 - Muy competente<br><br>

        <label for="CI">18. ¿Qué tan apto te considerás para resolver problemas de Aritmética?</label><br>
        <input type="radio" id="aritmetica1" name="CI1" value="0"> 0 - Incompetente
        <input type="radio" id="aritmetica2" name="CI1" value="1"> 1 - Medianamente competente
        <input type="radio" id="aritmetica3" name="CI1" value="2"> 2 - Competente
        <input type="radio" id="aritmetica4" name="CI1" value="3"> 3 - Muy competente<br><br>

        <label for="MC">19. ¿Qué tan apto te considerás para desarmar, armar y reparar objetos?</label><br>
        <input type="radio" id="desarmar_objetos1" name="MC1" value="0"> 0 - Incompetente
        <input type="radio" id="desarmar_objetos2" name="MC1" value="1"> 1 - Medianamente competente
        <input type="radio" id="desarmar_objetos3" name="MC1" value="2"> 2 - Competente
        <input type="radio" id="desarmar_objetos4" name="MC1" value="3"> 3 - Muy competente<br><br>

        <label for="DT">20. ¿Qué tan apto te considerás para manejar con habilidad herramientas de carpintería?</label><br>
        <input type="radio" id="carpinteria1" name="DT1" value="0"> 0 - Incompetente
        <input type="radio" id="carpinteria2" name="DT1" value="1"> 1 - Medianamente competente
        <input type="radio" id="carpinteria3" name="DT1" value="2"> 2 - Competente
        <input type="radio" id="carpinteria4" name="DT1" value="3"> 3 - Muy competente<br><br>

        <label for="SS">21. ¿Qué tan apto te considerás para colaborar con otros para el bien de la comunidad?</label><br>
        <input type="radio" id="colaborar_comunidad1" name="SS2" value="0"> 0 - Incompetente
        <input type="radio" id="colaborar_comunidad2" name="SS2" value="1"> 1 - Medianamente competente
        <input type="radio" id="colaborar_comunidad3" name="SS2" value="2"> 2 - Competente
        <input type="radio" id="colaborar_comunidad4" name="SS2" value="3"> 3 - Muy competente<br><br>

        <label for="EP">22. ¿Qué tan apto te considerás para convencer a otros para que hagan lo que vos crees que deben hacer?</label><br>
        <input type="radio" id="convencer1" name="EP2" value="0"> 0 - Incompetente
        <input type="radio" id="convencer2" name="EP2" value="1"> 1 - Medianamente competente
        <input type="radio" id="convencer3" name="EP2" value="2"> 2 - Competente
        <input type="radio" id="convencer4" name="EP2" value="3"> 3 - Muy competente<br><br>

        <label for="V">23. ¿Qué tan apto te considerás para componer versos, poesías o textos cómicos?</label><br>
        <input type="radio" id="componer_versos1" name="V2" value="0"> 0 - Incompetente
        <input type="radio" id="componer_versos2" name="V2" value="1"> 1 - Medianamente competente
        <input type="radio" id="componer_versos3" name="V2" value="2"> 2 - Competente
        <input type="radio" id="componer_versos4" name="V2" value="3"> 3 - Muy competente<br><br>

        <label for="AP">24. ¿Qué tan apto te considerás para decorar artísticamente un salón o escenario para un festival?</label><br>
        <input type="radio" id="decorar1" name="AP2" value="0"> 0 - Incompetente
        <input type="radio" id="decorar2" name="AP2" value="1"> 1 - Medianamente competente
        <input type="radio" id="decorar3" name="AP2" value="2"> 2 - Competente
        <input type="radio" id="decorar4" name="AP2" value="3"> 3 - Muy competente<br><br>

        <label for="MS">25. ¿Qué tan apto te considerás para distinguir cuando alguien desentona en piezas musicales o canciones?</label><br>
        <input type="radio" id="desentonar1" name="MS2" value="0"> 0 - Incompetente
        <input type="radio" id="desentonar2" name="MS2" value="1"> 1 - Medianamente competente
        <input type="radio" id="desentonar3" name="MS2" value="2"> 2 - Competente
        <input type="radio" id="desentonar4" name="MS2" value="3"> 3 - Muy competente<br><br>

        <label for="OG">26. ¿Qué tan apto te considerás para contestar y redactar correctamente oficios y cartas?</label><br>
        <input type="radio" id="cartas_oficios1" name="OG2" value="0"> 0 - Incompetente
        <input type="radio" id="cartas_oficios2" name="OG2" value="1"> 1 - Medianamente competente
        <input type="radio" id="cartas_oficios3" name="OG2" value="2"> 2 - Competente
        <input type="radio" id="cartas_oficios4" name="OG2" value="3"> 3 - Muy competente<br><br>

        <label for="CT">27. ¿Qué tan apto te considerás para entender principios y experimentos de Química?</label><br>
        <input type="radio" id="quimica1" name="CT2" value="0"> 0 - Incompetente
        <input type="radio" id="quimica2" name="CT2" value="1"> 1 - Medianamente competente
        <input type="radio" id="quimica3" name="CT2" value="2"> 2 - Competente
        <input type="radio" id="quimica4" name="CT2" value="3"> 3 - Muy competente<br><br>

        <label for="CI">28. ¿Qué tan apto te considerás para resolver y armar rompecabezas numéricos?</label><br>
        <input type="radio" id="rompecabezas_numericos1" name="CI2" value="0"> 0 - Incompetente
        <input type="radio" id="rompecabezas_numericos2" name="CI2" value="1"> 1 - Medianamente competente
        <input type="radio" id="rompecabezas_numericos3" name="CI2" value="2"> 2 - Competente
        <input type="radio" id="rompecabezas_numericos4" name="CI2" value="3"> 3 - Muy competente<br><br>

        <label for="MC">29. ¿Qué tan apto te considerás para resolver y armar rompecabezas de madera y/o cartón?</label><br>
        <input type="radio" id="rompecabezas_madera1" name="MC2" value="0"> 0 - Incompetente
        <input type="radio" id="rompecabezas_madera2" name="MC2" value="1"> 1 - Medianamente competente
        <input type="radio" id="rompecabezas_madera3" name="MC2" value="2"> 2 - Competente
        <input type="radio" id="rompecabezas_madera4" name="MC2" value="3"> 3 - Muy competente<br><br>

        <label for="DT">30. ¿Qué tan apto te considerás para manejar con facilidad herramientas mecánicas como pinzas, destornilladores, sierras?</label><br>
        <input type="radio" id="herramientas_mecanicas1" name="DT2" value="0"> 0 - Incompetente
        <input type="radio" id="herramientas_mecanicas2" name="DT2" value="1"> 1 - Medianamente competente
        <input type="radio" id="herramientas_mecanicas3" name="DT2" value="2"> 2 - Competente
        <input type="radio" id="herramientas_mecanicas4" name="DT2" value="3"> 3 - Muy competente<br><br>

        <label for="SS">31. ¿Qué tan apto te considerás para escuchar a otros con paciencia y comprender sus puntos de vista?</label><br>
        <input type="radio" id="escuchar_paciencia1" name="SS3" value="0"> 0 - Incompetente
        <input type="radio" id="escuchar_paciencia2" name="SS3" value="1"> 1 - Medianamente competente
        <input type="radio" id="escuchar_paciencia3" name="SS3" value="2"> 2 - Competente
        <input type="radio" id="escuchar_paciencia4" name="SS3" value="3"> 3 - Muy competente<br><br>

        <label for="EP">32. ¿Qué tan apto te considerás para dar órdenes y directivas a otros con seguridad y naturalidad?</label><br>
        <input type="radio" id="dar_ordenes1" name="EP3" value="0"> 0 - Incompetente
        <input type="radio" id="dar_ordenes2" name="EP3" value="1"> 1 - Medianamente competente
        <input type="radio" id="dar_ordenes3" name="EP3" value="2"> 2 - Competente
        <input type="radio" id="dar_ordenes4" name="EP3" value="3"> 3 - Muy competente<br><br>

        <label for="V">33. ¿Qué tan apto te considerás para escribir cuentos, narraciones o historietas?</label><br>
        <input type="radio" id="escribir_cuentos1" name="V3" value="0"> 0 - Incompetente
        <input type="radio" id="escribir_cuentos2" name="V3" value="1"> 1 - Medianamente competente
        <input type="radio" id="escribir_cuentos3" name="V3" value="2"> 2 - Competente
        <input type="radio" id="escribir_cuentos4" name="V3" value="3"> 3 - Muy competente<br><br>

        <label for="AP">34. ¿Qué tan apto te considerás para modelar con barro, plastilina y/o grabar madera?</label><br>
        <input type="radio" id="modelar_barro1" name="AP3" value="0"> 0 - Incompetente
        <input type="radio" id="modelar_barro2" name="AP3" value="1"> 1 - Medianamente competente
        <input type="radio" id="modelar_barro3" name="AP3" value="2"> 2 - Competente
        <input type="radio" id="modelar_barro4" name="AP3" value="3"> 3 - Muy competente<br><br>

        <label for="MS">35. ¿Qué tan apto te considerás para aprender a entonar correctamente canciones?</label><br>
        <input type="radio" id="entonar_canciones1" name="MS3" value="0"> 0 - Incompetente
        <input type="radio" id="entonar_canciones2" name="MS3" value="1"> 1 - Medianamente competente
        <input type="radio" id="entonar_canciones3" name="MS3" value="2"> 2 - Competente
        <input type="radio" id="entonar_canciones4" name="MS3" value="3"> 3 - Muy competente<br><br>

        <label for="OG">36. ¿Qué tan apto te considerás para anotar y manejar con exactitud nombres, números y otros datos?</label><br>
        <input type="radio" id="manejar_datos1" name="OG3" value="0"> 0 - Incompetente
        <input type="radio" id="manejar_datos2" name="OG3" value="1"> 1 - Medianamente competente
        <input type="radio" id="manejar_datos3" name="OG3" value="2"> 2 - Competente
        <input type="radio" id="manejar_datos4" name="OG3" value="3"> 3 - Muy competente<br><br>

        <label for="CT">37. ¿Qué tan apto te considerás para entender principios y hechos históricos, económicos y/o sociales?</label><br>
        <input type="radio" id="hechos_historicos1" name="CT3" value="0"> 0 - Incompetente
        <input type="radio" id="hechos_historicos2" name="CT3" value="1"> 1 - Medianamente competente
        <input type="radio" id="hechos_historicos3" name="CT3" value="2"> 2 - Competente
        <input type="radio" id="hechos_historicos4" name="CT3" value="3"> 3 - Muy competente<br><br>

        <label for="CI">38. ¿Qué tan apto te considerás para resolver problemas de Álgebra?</label><br>
        <input type="radio" id="algebra1" name="CI3" value="0"> 0 - Incompetente
        <input type="radio" id="algebra2" name="CI3" value="1"> 1 - Medianamente competente
        <input type="radio" id="algebra3" name="CI3" value="2"> 2 - Competente
        <input type="radio" id="algebra4" name="CI3" value="3"> 3 - Muy competente<br><br>

        <label for="MC">39. ¿Qué tan apto te considerás para armar y restaurar muebles?</label><br>
        <input type="radio" id="restaurar_muebles1" name="MC3" value="0"> 0 - Incompetente
        <input type="radio" id="restaurar_muebles2" name="MC3" value="1"> 1 - Medianamente competente
        <input type="radio" id="restaurar_muebles3" name="MC3" value="2"> 2 - Competente
        <input type="radio" id="restaurar_muebles4" name="MC3" value="3"> 3 - Muy competente<br><br>

        <label for="DT">40. ¿Qué tan apto te considerás para manejar con habilidad pequeñas piezas?</label><br>
        <input type="radio" id="piezas_pequenas1" name="DT3" value="0"> 0 - Incompetente
        <input type="radio" id="piezas_pequenas2" name="DT3" value="1"> 1 - Medianamente competente
        <input type="radio" id="piezas_pequenas3" name="DT3" value="2"> 2 - Competente
        <input type="radio" id="piezas_pequenas4" name="DT3" value="3"> 3 - Muy competente<br><br>

        <label for="SS">41. ¿Qué tan apto te considerás para conversar en reuniones y fiestas de modo acertado y natural?</label><br>
        <input type="radio" id="reuniones_sociales1" name="SS4" value="0"> 0 - Incompetente
        <input type="radio" id="reuniones_sociales2" name="SS4" value="1"> 1 - Medianamente competente
        <input type="radio" id="reuniones_sociales3" name="SS4" value="2"> 2 - Competente
        <input type="radio" id="reuniones_sociales4" name="SS4" value="3"> 3 - Muy competente<br><br>

        <label for="EP">42. ¿Qué tan apto te considerás para dirigir un equipo en situaciones difíciles o peligrosas?</label><br>
        <input type="radio" id="dirigir_equipo1" name="EP4" value="0"> 0 - Incompetente
        <input type="radio" id="dirigir_equipo2" name="EP4" value="1"> 1 - Medianamente competente
        <input type="radio" id="dirigir_equipo3" name="EP4" value="2"> 2 - Competente
        <input type="radio" id="dirigir_equipo4" name="EP4" value="3"> 3 - Muy competente<br><br>

        <label for="V">43. ¿Qué tan apto te considerás para saber distinguir y apreciar la buena literatura?</label><br>
        <input type="radio" id="literatura1" name="V4" value="0"> 0 - Incompetente
        <input type="radio" id="literatura2" name="V4" value="1"> 1 - Medianamente competente
        <input type="radio" id="literatura3" name="V4" value="2"> 2 - Competente
        <input type="radio" id="literatura4" name="V4" value="3"> 3 - Muy competente<br><br>

        <label for="AP">44. ¿Qué tan apto te considerás para saber distinguir y apreciar el buen arte?</label><br>
        <input type="radio" id="arte1" name="AP4" value="0"> 0 - Incompetente
        <input type="radio" id="arte2" name="AP4" value="1"> 1 - Medianamente competente
        <input type="radio" id="arte3" name="AP4" value="2"> 2 - Competente
        <input type="radio" id="arte4" name="AP4" value="3"> 3 - Muy competente<br><br>

        <label for="MS">45. ¿Qué tan apto te considerás para saber distinguir y apreciar la buena música?</label><br>
        <input type="radio" id="musica1" name="MS4" value="0"> 0 - Incompetente
        <input type="radio" id="musica2" name="MS4" value="1"> 1 - Medianamente competente
        <input type="radio" id="musica3" name="MS4" value="2"> 2 - Competente
        <input type="radio" id="musica4" name="MS4" value="3"> 3 - Muy competente<br><br>

        <label for="OG">46. ¿Qué tan apto te considerás para encargarte de recibir, anotar y dar mensajes sin olvidarte de ningún detalle?</label><br>
        <input type="radio" id="mensajes1" name="OG4" value="0"> 0 - Incompetente
        <input type="radio" id="mensajes2" name="OG4" value="1"> 1 - Medianamente competente
        <input type="radio" id="mensajes3" name="OG4" value="2"> 2 - Competente
        <input type="radio" id="mensajes4" name="OG4" value="3"> 3 - Muy competente<br><br>

        <label for="CT">47. ¿Qué tan apto te considerás para entender las causas que determinan los acontecimientos históricos?</label><br>
        <input type="radio" id="causas_historicas1" name="CT4" value="0"> 0 - Incompetente
        <input type="radio" id="causas_historicas2" name="CT4" value="1"> 1 - Medianamente competente
        <input type="radio" id="causas_historicas3" name="CT4" value="2"> 2 - Competente
        <input type="radio" id="causas_historicas4" name="CT4" value="3"> 3 - Muy competente<br><br>

        <label for="CI">48. ¿Qué tan apto te considerás para resolver problemas y actividades de Geografía?</label><br>
        <input type="radio" id="geografia1" name="CI4" value="0"> 0 - Incompetente
        <input type="radio" id="geografia2" name="CI4" value="1"> 1 - Medianamente competente
        <input type="radio" id="geografia3" name="CI4" value="2"> 2 - Competente
        <input type="radio" id="geografia4" name="CI4" value="3"> 3 - Muy competente<br><br>

        <label for="MC">49. ¿Qué tan apto te considerás para aprender el funcionamiento de mecanismos complejos como motores, relojes, bombas, etc.?</label><br>
        <input type="radio" id="mecanismos_complejos1" name="MC4" value="0"> 0 - Incompetente
        <input type="radio" id="mecanismos_complejos2" name="MC4" value="1"> 1 - Medianamente competente
        <input type="radio" id="mecanismos_complejos3" name="MC4" value="2"> 2 - Competente
        <input type="radio" id="mecanismos_complejos4" name="MC4" value="3"> 3 - Muy competente<br><br>

        <label for="DT">50. ¿Qué tan apto te considerás para realizar trazos geométricos con regla T y compás?</label><br>
        <input type="radio" id="trazos_geom1" name="DT4" value="0"> 0 - Incompetente
        <input type="radio" id="trazos_geom2" name="DT4" value="1"> 1 - Medianamente competente
        <input type="radio" id="trazos_geom3" name="DT4" value="2"> 2 - Competente
        <input type="radio" id="trazos_geom4" name="DT4" value="3"> 3 - Muy competente<br><br>

        <label for="SS">51. ¿Qué tan apto te considerás para actuar con desinterés y condolencia?</label><br>
        <input type="radio" id="actuar_desinteres1" name="SS5" value="0"> 0 - Incompetente
        <input type="radio" id="actuar_desinteres2" name="SS5" value="1"> 1 - Medianamente competente
        <input type="radio" id="actuar_desinteres3" name="SS5" value="2"> 2 - Competente
        <input type="radio" id="actuar_desinteres4" name="SS5" value="3"> 3 - Muy competente<br><br>

        <label for="EP">52. ¿Qué tan apto te considerás para corregir a los demás sin ofenderlos?</label><br>
        <input type="radio" id="corregir1" name="EP5" value="0"> 0 - Incompetente
        <input type="radio" id="corregir2" name="EP5" value="1"> 1 - Medianamente competente
        <input type="radio" id="corregir3" name="EP5" value="2"> 2 - Competente
        <input type="radio" id="corregir4" name="EP5" value="3"> 3 - Muy competente<br><br>

        <label for="V">53. ¿Qué tan apto te considerás para exponer juicios y opiniones públicamente sin preocuparte por las críticas?</label><br>
        <input type="radio" id="exponer_opiniones1" name="V5" value="0"> 0 - Incompetente
        <input type="radio" id="exponer_opiniones2" name="V5" value="1"> 1 - Medianamente competente
        <input type="radio" id="exponer_opiniones3" name="V5" value="2"> 2 - Competente
        <input type="radio" id="exponer_opiniones4" name="V5" value="3"> 3 - Muy competente<br><br>

        <label for="AP">54. ¿Qué tan apto te considerás para colaborar en la elaboración de un libro sobre el arte en la Arquitectura?</label><br>
        <input type="radio" id="libro_arte1" name="AP5" value="0"> 0 - Incompetente
        <input type="radio" id="libro_arte2" name="AP5" value="1"> 1 - Medianamente competente
        <input type="radio" id="libro_arte3" name="AP5" value="2"> 2 - Competente
        <input type="radio" id="libro_arte4" name="AP5" value="3"> 3 - Muy competente<br><br>

        <label for="MS">55. ¿Qué tan apto te considerás para dirigir un grupo musical?</label><br>
        <input type="radio" id="grupo_musical1" name="MS5" value="0"> 0 - Incompetente
        <input type="radio" id="grupo_musical2" name="MS5" value="1"> 1 - Medianamente competente
        <input type="radio" id="grupo_musical3" name="MS5" value="2"> 2 - Competente
        <input type="radio" id="grupo_musical4" name="MS5" value="3"> 3 - Muy competente<br><br>

        <label for="OG">56. ¿Qué tan apto te considerás para colaborar con el desarrollo de métodos más eficientes de trabajo o estudio?</label><br>
        <input type="radio" id="desarrollo_metodos1" name="OG5" value="0"> 0 - Incompetente
        <input type="radio" id="desarrollo_metodos2" name="OG5" value="1"> 1 - Medianamente competente
        <input type="radio" id="desarrollo_metodos3" name="OG5" value="2"> 2 - Competente
        <input type="radio" id="desarrollo_metodos4" name="OG5" value="3"> 3 - Muy competente<br><br>

        <label for="CT">57. ¿Qué tan apto te considerás para realizar investigaciones científicas con la finalidad de buscar la verdad?</label><br>
        <input type="radio" id="investigaciones_cientificas1" name="CT5" value="0"> 0 - Incompetente
        <input type="radio" id="investigaciones_cientificas2" name="CT5" value="1"> 1 - Medianamente competente
        <input type="radio" id="investigaciones_cientificas3" name="CT5" value="2"> 2 - Competente
        <input type="radio" id="investigaciones_cientificas4" name="CT5" value="3"> 3 - Muy competente<br><br>

        <label for="CI">58. ¿Qué tan apto te considerás para enseñar a resolver problemas matemáticos?</label><br>
        <input type="radio" id="enseñar_matematicas1" name="CI5" value="0"> 0 - Incompetente
        <input type="radio" id="enseñar_matematicas2" name="CI5" value="1"> 1 - Medianamente competente
        <input type="radio" id="enseñar_matematicas3" name="CI5" value="2"> 2 - Competente
        <input type="radio" id="enseñar_matematicas4" name="CI5" value="3"> 3 - Muy competente<br><br>

        <label for="MC">59. ¿Qué tan apto te considerás para inducir a la gente a obtener resultados prácticos?</label><br>
        <input type="radio" id="inducir_gente1" name="MC5" value="0"> 0 - Incompetente
        <input type="radio" id="inducir_gente2" name="MC5" value="1"> 1 - Medianamente competente
        <input type="radio" id="inducir_gente3" name="MC5" value="2"> 2 - Competente
        <input type="radio" id="inducir_gente4" name="MC5" value="3"> 3 - Muy competente<br><br>

        <label for="DT">60. ¿Qué tan apto te considerás para participar en un concurso de modalismo (coches, aviones, barcos, etc.)?</label><br>
        <input type="radio" id="modalismo1" name="DT5" value="0"> 0 - Incompetente
        <input type="radio" id="modalismo2" name="DT5" value="1"> 1 - Medianamente competente
        <input type="radio" id="modalismo3" name="DT5" value="2"> 2 - Competente
        <input type="radio" id="modalismo4" name="DT5" value="3"> 3 - Muy competente<br><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>
